<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dhun | Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <!------------BODY HTML STARTS FROM HERE------------------------>



    <!------------LEFT AND RIGHT TOP SECTION STARTS FROM-------------->
    <section class="double-section">
        <div class="double-container">
            <%- include('partials/left-container'); %>
            <div class="right-container">
                <div class="right-content">
                    <%- include('partials/side-header'); %>
                    <div class="banner-content">
                        <h2>Now Playing</h2>
                        <img src="assets/images/nepathyabanner.png" alt="">
                        <div class="master_play">
                            <div class="wave">
                                <div class="wave1"></div>
                                <div class="wave1"></div>
                                <div class="wave1"></div>
                            </div>
                            <img src="assets/images/girl-playing.png" alt="Alan" id="poster_master_play">
                            <h5 id="title">Gau Gau Bata<br>
                                <div class="subtitle">Nepathya</div>
                            </h5>
                            <div class="icon">
                                <i class="bi bi-skip-start-fill" id="back"></i>
                                <i class="bi bi-play-fill" id="masterPlay"></i>
                                <i class="bi bi-skip-end-fill" id="next"></i>
                            </div>
                            <span id="currentStart">0:00</span>
                            <div class="bar">
                                <input type="range" id="seek" min="0" value="0" max="100">
                                <div class="bar2" id="bar2"></div>
                                <div class="dot"></div>
                            </div>
                            <span id="currentEnd">0:00</span>
                            <img src="assets/images/cloud.svg" alt="" srcset="" style="width: 20px; height: auto; margin-left: 15px">
                            <img src="assets/images/library-player.svg" alt="" srcset="" style="width: 20px; height: auto; margin-left: 15px">
                            <img src="assets/images/love-icon.svg" alt="" srcset="" style="width: 20px; height: auto; margin-left: 15px">
                            <img src="assets/images/three-dot.svg" alt="" srcset="" style="width: 20px; height: auto; margin-left: 15px; margin-right: 15px;">    
                            <div class="vol">
                                <i class="bi bi-volume-down-fill" id="vol_icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <!--------------LEFT AND RIGHT TOP SECTION ENDS FROM HERE--------------------->





    <!---------------BODY HTML ENDS FROM HERE-------------------------->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>