<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dhun | Home</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    </head>

<body>
    <!------------BODY HTML STARTS FROM HERE------------------------>
    <!------------LEFT AND RIGHT TOP SECTION STARTS FROM-------------->
    <section class="double-section">
        <div class="double-container">
            <%- include('partials/left-container'); %>
            <div class="right-container">
                <%- include('partials/side-header'); %>
                <div class="library-fresh-content">
                    <div class="library-flex-content">
                        <a href="" class="liked-songs-box-link">
                            <div class="liked-songs-box">
                                <h3>Liked songs</h3>
                                <p>2 liked Songs</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="library-content-box">
                                <img src="assets/images/hindies.png" alt="">
                                <h3>Kollyhood Songs</h3>
                                <p>Trust us, you need this for yourself</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="library-content-box">
                                <img src="assets/images/hindies.png" alt="">
                                <h3>Kollyhood Songs</h3>
                                <p>Trust us, you need this for yourself</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="library-content-box">
                                <img src="assets/images/hindies.png" alt="">
                                <h3>Kollyhood Songs</h3>
                                <p>Trust us, you need this for yourself</p>
                            </div>
                        </a>
                    </div>
                    <div class="flex-library-content">
                        <a href="">
                            <div class="library-content-box">
                                <img src="assets/images/hindies.png" alt="">
                                <h3>Kollyhood Songs</h3>
                                <p>Trust us, you need this for yourself</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="library-content-box">
                                <img src="assets/images/hindies.png" alt="">
                                <h3>Kollyhood Songs</h3>
                                <p>Trust us, you need this for yourself</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="library-content-box">
                                <img src="assets/images/hindies.png" alt="">
                                <h3>Kollyhood Songs</h3>
                                <p>Trust us, you need this for yourself</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="library-content-box">
                                <img src="assets/images/hindies.png" alt="">
                                <h3>Kollyhood Songs</h3>
                                <p>Trust us, you need this for yourself</p>
                            </div>
                        </a>
                    </div>
                    <div class="next-page-btn-flex">
                        <a href="" class="next-page-button">
                            Show All
                        </a>
                    </div>
                </div>
                <div class="top-streams-box">
                    <div class="local-global-content">
                        <h3>Top Streams Real-Time</h3>
                        <div class="local-global-btn">
                            <a href="" class="local-btn">
                                Local
                            </a>
                            <a href="" class="global-btn">
                                Global
                            </a>
                        </div>
                    </div>
                    <div class="flex-top-streams mb-15">
                        <a href="#" class="song-info-link">
                            <div class="song-info">
                                <h3>1</h3>
                                <img src="assets/images/local-library-music-img.png" alt="">
                                <div class="song-name">
                                    <h3>Jog ley hunxa veeta</h3>
                                    <p>Nepathya</p>
                                </div>
                            </div>
                        </a>
                        <div class="song-details">
                            <h3>3:54</h3>
                            <img src="assets/images/love-icon.svg" alt="">
                            <img src="assets/images/three-dot.svg" alt="">
                        </div>
                    </div>
                    <div class="flex-top-streams mb-15">
                        <a href="#" class="song-info-link">
                            <div class="song-info">
                                <h3>1</h3>
                                <img src="assets/images/local-library-music-img.png" alt="">
                                <div class="song-name">
                                    <h3>Jog ley hunxa veeta</h3>
                                    <p>Nepathya</p>
                                </div>
                            </div>
                        </a>
                        <div class="song-details">
                            <h3>3:54</h3>
                            <img src="assets/images/love-icon.svg" alt="">
                            <img src="assets/images/three-dot.svg" alt="">
                        </div>
                    </div>
                    <div class="flex-top-streams mb-15">
                        <a href="#" class="song-info-link">
                            <div class="song-info">
                                <h3>1</h3>
                                <img src="assets/images/local-library-music-img.png" alt="">
                                <div class="song-name">
                                    <h3>Jog ley hunxa veeta</h3>
                                    <p>Nepathya</p>
                                </div>
                            </div>
                        </a>
                        <div class="song-details">
                            <h3>3:54</h3>
                            <img src="assets/images/love-icon.svg" alt="">
                            <img src="assets/images/three-dot.svg" alt="">
                        </div>
                    </div>
                    <div class="exploremore-container">
                        <a href="#" class="explore-more-btn">
                            Explore More <img src="assets/images/down-arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!---------------BODY HTML ENDS FROM HERE-------------------------->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>