<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <section class="logo-main-container">
        <div class="main-login-container">
            <div class="left-login-content">
                <img src="/assets/images/logodhun.png" alt="">
                <h2>Enter New Password</h2>
                <%=message%>
                <form action="/reset-password", method="post">
                    <label for="new-password" >New Password:</label>
                    <input type="password" id="new-password" name="newPassword" required class="mb-25" style="color: white; font-weight: 500;">
                    <label for="confirm-password" >Confirm Password:</label>
                    <input type="password" id="confirm-password" name="confirmPassword" required class="mb-25" style="color: white; font-weight: 500;">
                    <input type="hidden" name="token" required class="mb-25" value="<%=token%>" style="color: white; font-weight: 500;">
            
                    <div class="flex-btn-login">
                        <button type="submit" class="login-without-logo">Send</button>
                    </div>
                </form>
            </div>
            <div class="right-login-content">
                <img src="/assets/images/login-logo.png" alt="">
            </div>
        </div>
    </section>
</body>
</html>